* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: linear-gradient(180deg, rgba(254,209,18,1) 55%, rgba(255,255,255,1) 0%);
}

.app-header {
    display: flex;
    flex-direction: column;
    background-color: #FED112;
}

.title-market {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.title-market h1 {
    display: flex;
    color: rgb(78, 10, 10);
}

.title-market img {
    
    width: 120px;
    margin-right: 10px;
    transition: 0.8s;
    animation: go-back 1s;
}

.title-market img:hover {
    scale: 1.2;
}

.input-form {
    display: flex;
    width: 250px;
    height: 40px;
    padding: 18px;
    border: none;
    border-radius: 12px;
    margin: 10px auto;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fff;
}

#shopping-form {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
}

#shopping-form input {
    width: 150px;
    height: 30px;
    padding: 3px;
    border: none;
    font-size: 16px;
}

#shopping-form button {
    border: none;
    text-align: center;
    cursor: pointer;
}

#shopping-form img {
    width: 26px;
}

#shopping-form #clear-list img {
    width: 30px;
    cursor: pointer;
}

.table-container {
    border: none;
    border-radius: 20px 20px 0 0;
    background-color: #fff;
}

.shopping-table {
    display: grid;
    margin: 30px auto;
    width: 100%;
    font-size: 14px;
}

.shopping-table .input-value {
    width: 15%;
    border: 1px solid #ddd;
}

.shopping-table .unit-value {
    width: 20%;
    border: 1px solid #ddd;
}

.shopping-table .quantity-value {
    width: 20%;
    border: 1px solid #ddd;
}

.shopping-table .total-value {
    width: 20%;
    border: 1px solid #ddd;
}

.shopping-table .action-value {
    width: 15%;
    border: 1px solid #ddd;
}

#shopping-list {
    width: 100%;
    height: 550px;
    margin: 0 auto;
    overflow: hidden;
    overflow-y: scroll;
    font-size: 14px;
}

#shopping-list td {
    word-wrap: break-word;
    border-radius: 4px;
}

#shopping-list .item-checkbox {
    width: 15px;
    background-color: #d9d9d9;
    border: none;
}

#shopping-list .unit-price {
    width: 80%;
    margin-left: 10px;
    background-color: #d9d9d9;
    border: none;
}

#shopping-list .quantity {
    width: 50%;
    margin-left: 15px;
    background-color: #d9d9d9;
    border: none;
}

#shopping-list .subtotal {
    width: 15%;
    font-size: 14px;
    background-color: #d9d9d9;
    border: none;
}

#shopping-list .delete-btn {
    margin-left: 30px;
}

.delete-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 4px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 800;
}

.total {
    width: 360px;
    position: fixed;
    bottom: 0;
    text-transform: uppercase;
    border: 1px solid rgb(149, 147, 147);
    border-radius: 20px 20px 0 0;
    background-color: #FF7312;
}

.total h2 {
    display: flex;
    margin: 30px 80px;
    color: #1F2D27;
}

/*footer {
    text-align: center;
    color: rgb(167, 156, 156);
    position: relative;
    margin-top: 95%;
}

footer span {
    font-size: 14px;
}*/

@media (min-width: 600px) {
    body {
        width: 360px;
    }
}

@keyframes go-back {
    0% {
        transform: translateX(1000%);
    }
    100% {
        transform: translateX(10%);
    }
}